body{
    background-image: url(IMS.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Montserrat;
}
#logo img{
    height: 150px;
    width:150px;
    border-radius: 50%;
}
div{
    float: left;
}
h1{
    font-family: Montserrat;
    font-size: 40px;
    color:  #2ca089;
}
.login p{
    text-align: center; 
    color: white;
    font-weight:bold;
}
.login img{
    float: left;
    padding: 20px;
    height: 200px;
    width:300px;
    border-radius: 25%;
    margin-top: 80px;
    margin-left: 80px;
}
